<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ISURL" value="http://localhost:8001/" />

		<add key="ClientId" value="IdentityServerAdmin" />
		<add key="ClientSecret" value="secret123" />


		<add key="NewClientId" value="Uzair" />
		<add key="NewClientSecret" value="secret123" />
		<add key="NewClientAllowedScopes" value="iclear-account-opening-api" />
		<add key="NewClientDescription" value="Stock Squirrel" />
		<add key="NewClientEmail" value="uzair.aleem@logicielservice.com" />
		<add key="NewClientEmailTemplate" value="" />
		<add key="NewClientFirmCode" value="SS" />
		<add key="NewClientCorrespondentCode" value="SQRL" />
		<add key="NewClientBoothId" value="SQL" />
		<add key="NewClientOffice" value="SQL" />

	</appSettings>
</configuration>